<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Application</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
  <style></style>
</head>
<body>
<div class="container mt-5 col-4">
  <h1>New Todo</h1>
  <form th:action="@{/create}" th:object="${todo}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" th:field="*{title}" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Status</label>
      <input type="text" class="form-control" th:field="*{status}">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a th:href="@{/}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>